/*--------------------
	RESET
--------------------*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}
/* remember to define focus styles! */
:focus {
	outline: 0;
}
body {
	line-height: 150%;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	text-align: left;
	font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}

/*--------------------
	GLOBAL TYPOGRAPHY
--------------------*/

body {
	font: 12px/18px Arial, Helvetica, sans-serif;
	color: #333;
}

p {
	margin: 0 0 20px 0;
    font-size: 15px;
    font-style: normal;
}

h2 {
	font-size: 32px;
	color: #c60;
	padding-top: 4px;
	margin-bottom: 30px;
	}

h3 {
     color: #c60;
     font-size: 22px;
     font-weight: bold;
     margin-bottom: 10px;
 }

h4 {
    font-size: 19px;
    font-weight: bold;
    margin-bottom: 10px;
}

h5 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
}

ul {
    font-size: 15px;
    margin-left: 50px;
}

a {
    font-size: 16px;
	color: #039;
	}
	a:hover {
		color: #c60;
	}

/*--------------------
	STRUCTURE
--------------------*/

body {
	background: #281912 url("images/bg.jpg") no-repeat top center;
}

#pagewrap {
	background: url("images/bg-glow.jpg") no-repeat top left;
	width: 820px;
	height: 600px;
	margin: 0 auto;
	padding: 0 100px;
}

#header {
	width: 800px;
	height: 90px;
	padding-top: 90px;
}

#content {
	clear: left;
	width: 822px;
	height: auto;
	position: relative;
    margin-top: -385px;
	}
	#content div.page {
		position: absolute;
		top: 40px;
		left: 38px;
        background: url("images/content-bg.jpg")  top center repeat-y;
        width: 822px;
        margin-left: -40px;
        overflow:hidden;
	}
	#content div.left {
		width: 241px;
		height: 322px;
		/*background: url("images/feature-bg.png") no-repeat top left;*/
		float: left;
        margin: 10px;
	}
	#content div.right {
		width: 490px;
		float: left;
		margin-left: 15px;
        margin-top: 20px;
	}

#footer {
	color: #666;
	margin-top: 5px;
	text-align: center;
	}
	#footer a {
		color: #963;
	}

/*--------------------
	NAVIGATION
--------------------*/

ul#navigation {
	float: right;
    margin-top: -90px;
	}
	ul#navigation li {
		float: left;
		}
		ul#navigation li a {
			display: block;
			width: 64px;
			height: 90px;
			text-indent: -9999px;
			margin-left: 42px;
			}
			ul#navigation li a.about {
				background: url("images/icon-about.png") no-repeat top left;
				}
				ul#navigation li a.about:hover {
					background-position: top right;
				}
			ul#navigation li a.project {
				background: url("images/icon-work.png") no-repeat top left;
				}
				ul#navigation li a.project:hover {
					background-position: top right;
				}
			ul#navigation li a.home {
				background: url("images/icon-social.png") no-repeat top left;
				}
				ul#navigation li a.home:hover {
					background-position: top right;
				}
			ul#navigation li a.contact {
				background: url("images/icon-contact.png") no-repeat top left;
				}
				ul#navigation li a.contact:hover {
					background-position: top right;
				}
			ul#navigation li.active {
				background: url("images/nav-underline.png") no-repeat 42px 0;
			}
		ul#navigation li a img {
			list-style: none;
			background: none;
			border: none;
			margin-right: 25px;
			padding: 5px;
		}

/*--------------------
	CONTENT - ABOUT
--------------------*/

#about img {
	background: url("images/photobg-big.png") no-repeat top left;
	padding: 0 5px;
}

#about ul {
	list-style: none;
	}
	#about ul li {
		float: left;
		font-size: 18px;
		font-weight: bold;
		margin-right: 40px;
		padding: 6px 10px 10px 6px;
		}
		#about ul li img {
			display: block;
		}

/*--------------------
	CONTENT - PROJECT
--------------------*/

#introContentPara div.left {
    background: url('images/feature-bg-twitter.jpg') no-repeat top center;
    width: 350px;
    height: 350px;
}

#project .left img {
	background: none;
	padding: 6px 10px 10px 6px;
	margin-bottom: 0;
}

#poster{
    margin: 25px 200px 25px;
    width: 350px;
    height: 495px;
background: url("images/poster.jpg") no-repeat top center;
    }


#project .left h3 a {
	color: #039;
	font-size: 22px;
	font-weight: bold;
	text-decoration: none;
	margin: 0 0 0 10px;
	}
	#project .left h3 a:hover {
		color: #c60;
	}
#project .left p {
	margin: -5px 0 0 10px;
}

#project h3 {
	clear: left;
}

#project img {
	padding: 6px;
	background: url("images/thumb-bg.png") no-repeat top left;
	float: left;
	margin: 0 25px 20px 0;
	vertical-align: bottom;
	}
	#project a:hover img {
		background: url("images/thumb-bg-rol.png");
	}

/*--------------------
	CONTENT - HOME
--------------------*/

#home div.left {
	background: url('images/feature-bg-twitter.jpg') no-repeat top center;
    width: 350px;
    height: 350px;
}
	#home .left p.tweet-text {
		width: 222px;
		margin: 100px 10px 0 10px;
		font: italic 14px/21px Georgia, sans-serif;
		text-align: center;
	}
	#home .left p.tweet-meta {
		width: 222px;
		text-align: right;
		position: absolute;
		bottom: 0px;
	}
#home div.right {
    width: 400px;
}
#home .right ul li {
	float: left;
	margin: 0 20px;
	padding-top: 40px;
}

#home .right ul li a {
	display: block;
	width: 195px;
	font-size: 23px;
	text-decoration: none;
	}
	#home .right ul li a img {
		vertical-align: middle;
	}




/*--------------------
	CONTENT - CONTACT
--------------------*/

#contact div.left h3, #contact div.left ul {
	margin: 10px 0 0 22px;
}

#contact ul li.right {
	width: 410px;
}

label {
	display: block;
}

input, textarea {
	background: transparent;
	border: 1px solid #999;
	margin-bottom: 12px;
	width: 206px;
	height: 20px;
	}
	textarea {
		height: 90px;
	}
	input.send {
		width: 80px;
		height: 28px;
		color: #fff;
		font-weight: bold;
		background: #666;
		border-color: #666;
		cursor: pointer;
		float: left;
		margin: 5px 0 40px 0;
		}
		input.send:hover {
			background: #999;
		}

#contactinfo {
	margin: 25px 0 0 0;
	background: url("images/icon-home.png") no-repeat top left;
	}
	#contactinfo p {
	font-size: 18px;
	text-indent: 100px;
	margin-bottom: 0;
	}
	#contactinfo p a {
		text-decoration: none;
	}

#form-msg {
	width: 400px;
	height: 120px;
	margin: 0 auto;
	padding-top: 150px;
	text-align: center;
}
#title {
    margin-top: -15px;
}

.contentTop
{
    background: url("images/content-top.png") no-repeat;
    height: 15px;
}

.contentBottom
{
    background: url("images/content-bottom.png") no-repeat;
    height: 15px;
}

#siteContent
{
    width: 210px;
    height: 300px;
    margin-left: -220px;
    margin-top: 45px;
    z-index: 10001;
    position: relative;
}

.externalLinks
{
    margin-left: 78px;
    margin-top: -35px;
    margin-bottom: 12px;
}

.aboutGroupMembers
{
    text-align: justify;
    margin-left: 10px;
    margin-right: 10px;
}

#introductionContent
{
    margin: 10px;
}

#introContentPara
{
    margin: 10px;
    text-justify:inter-cluster;
}

.memberDetails
{
    margin: 10px;
}

.ulChange
{
    list-style: none;
}

#featuredArticles
{
    width: 230px;
    height: 300px;
    background: url("images/featured-bg.jpg");
    margin-right: -250px;
    margin-top: -300px;
    float: right;
}

.content
{
    padding: 15px;
}

#members
{
    padding: 15px;
}

#bodyContent {
    background: url("images/content-bg.jpg")  top center repeat-y;
    width: 822px;
    margin: 0 auto;
    padding: 5px;
}

#contentDescription
{
    padding: 10px;
}

#contentLinks
{
    margin-left: 20px;
}

#contentPages
{
    margin: 10px;
}

#contentPages
{
 margin: 10px;
 font-family: Roman;
}

#contentPages h2 {
    font-size: 32px;
    padding-top: 4px;
    margin-bottom: 30px;
}

#contentPages h3 {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 10px;
}

#contentPages h4 {
    font-size: 19px;
    font-weight: bold;
    margin-bottom: 10px;
}

#contentPages h5 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
}

#contentPages p {
    margin: 20px;
    text-align: justify;
}

#hide {
    position:absolute;
    top:30px;
    left:-190px;
}

/*Sub level menu items */
/*.sidebarmenu ul li ul{
    position: absolute;
    width: 170px; *//*Sub Menu Items width *//*
    top: 0;
    visibility: hidden;
}*/

.sidebarmenu a.sliding-element{
    background: url(images/right.gif) no-repeat 97% 50%;
}

#navigation-block {
    position:relative;
    margin-left: -220px;
    margin-top: 45px;
}

ul#sliding-navigation
{
    list-style: none;
    font-size: .75em;
    margin: 30px 0;
    padding: 0;
}

ul#sliding-navigation li.sliding-element h3,
ul#sliding-navigation li.sliding-element a{
    display: block;
    width: 150px;
    padding: 5px 18px;
    margin: 0;
    margin-bottom: 5px;
}

ul#sliding-navigation li.sliding-element h3{
    color: #000000;
    background:#333 url(images/main_tab_bg.jpg) repeat-y;
    border: 2px solid #82410f;
    font-weight: normal;
}

ul#sliding-navigation li.sliding-element a{

    color:black;
    background: #82410f url(images/tab_bg.jpg) no-repeat right;
    border: 2px solid #82410f;
    text-decoration: none;
}

ul#sliding-navigation li.sliding-element a:hover{ color: #ffff66; }

ul#sliding-navigation li.sliding-element ul li{
    list-style-type: none;
}

ul#sliding-navigation li.sliding-element ul{
    display: none;               /* hides child menu blocks - one of the most important declarations */
    position: inherit;          /* make child blocks hover without leaving space for them */
    /*top: -3px;                     *//*position slightly lower than the parent menu item*/
    /*left: 140px;*/
}

ul#sliding-navigation li:hover ul{
    display: block;
}


/* Holly Hack for IE \*/
* html .sidebarmenu ul li { float: left; height: 1%; }
* html .sidebarmenu ul li a { height: 1%; }
